.content-row{
    flex-wrap: nowrap;
    display: flex;
    word-wrap: break-word;
    word-break: break-word;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: start;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: -2em;
}

.media-content li{
    font-size: 1em;
}

.figure{
    width: 30%;
    align-self: center;
    box-sizing: border-box;
    display: block;

}

.figure img{
    width: 110%;
}

.media-content{
    flex-basis: 100%;
    padding-left: 1rem;
    padding-right: 1rem!important;
    padding-bottom: .5rem!important;
    padding-top: .5rem!important;
    align-self: center!important;
    box-sizing: border-box;
    display: block;
    margin-left: 1em;
    text-align: left;

}

@media only screen and (min-width: 1900px){
    .media-content{
        padding-left: 2em;
    }
}

.media-content p{
    font-size: 1.2em;
}
@media only screen and (max-width: 550px){
    .media-content p{
        font-size: .8em;
    }
}
@media only screen and (max-width: 550px){
    .media-content li{
        font-size: .8em;
    }
}

@media only screen and (max-width: 550px){
    .main-txt ul{
        font-size: .8em;
    }
}
.figure video{
    margin-left: -1em;
    width: 100%;
    display: block;
    
    border-style: none;
    box-sizing: border-box;
}


/* Tablet - 768px */
@media only screen and (max-width: 45rem){
    .figure{
        width: 50%;
    }
}

/* Mobile - 300px */
@media only screen and (max-width: 28rem){
    .figure{
        width: 70%;
    }
    .content-row{
        padding: 0;
    }
}



@media only screen and (max-width: 1024px){
    .figurure img{
      width: 100%;
    }
    .figure{
        width: 50%;
    }
  }

  @media only screen and (max-width: 800px){
    .figure{
        width: 70%;
    }
  }

  @media only screen and (max-width: 950px){
    .content-row{
        padding-left: 0;
        padding-right: 0;
    }
  }

  @media only screen and (max-width: 650px){
    .content-row{
        display: block;
    }
    .figure{
        width: 50%;
        margin: auto;
    }

  }

  @media only screen and (max-width: 550px){
    .figure{
        width: 60%;
    }
  }
  @media only screen and (max-width: 450px){
    .figure{
        width: 70%;
    }
  }


  .main-txt{
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 6em;
    text-align: center;
    padding-bottom: 2em;
  }

  @media only screen and (max-width: 750px){
    .main-txt img{
        width: 100%;
    }
  }

  .main-txt h1{
    text-align: center;
    font-size: 3em;
  }

  .main-txt ul, p{
    text-align: left;
  }

  #rootc-img{
    width: 90%;
  }


#inlay-img{
    border-radius: 50%;
}

#rootc{
    font-size: 1.2em;
}

.wisd{
    font-size: 2em;
    text-align: center;
}


.resection{
    width: 50%;
}

@media only screen and (max-width: 890px){
    .zirk2{
        width: 85%;
    }
}
@media only screen and (min-width: 890px){
    .zirk2{
        width: 700px;
        height: 250px;
    }
}

@media only screen and (max-width: 755px){
    .zirk1{
        width: 75%;
    }
}

@media only screen and (max-width: 666px){
    #inlay-img{
        margin-top: -3em;
        margin-bottom: 5em;
    }
    #rootc-img{
        margin-bottom: 3em;
    }
    .veneer-txt{
        margin-bottom: -4em;
    }
}

.rootc-pic{
    width: 75%;
}

@media only screen and (max-width: 770px){
    .rootc-pic{
        width: 65%;
    }
}

#wisd-pic{
    width: 90%;
}

@media only screen and (max-width: 1024px){
    .resection{
        width: 65%;
    }
}

@media only screen and (max-width: 600px){
    .resection{
        width: 70%;
    }
}

@media only screen and (max-width: 450px){
    .resection{
        width: 75%;
    }
}