.info {

    margin: auto;
}

.info-text {
    font-size: 27px;
    text-align: center;
    background-color: rgb(222, 240, 240);
    width: 90%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    margin-top: 20px;

}

body {
    padding-top: 120px;
    margin: 0;

}

.row {
    margin-top: 30px;
}

.main-body {
    width: 100%;

}



.e-seta {
    width: 99%;
    height:100vh;
    margin: auto;
    margin-bottom: 50px;


}


iframe {
    width: 100%;
    height:100vh;


}

@media (max-width: 920px){
    body {
        padding-top: 140px;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 611px){
    body {
        padding-top: 160px;
    }
}

@media (max-width: 550px){
    body {
        padding-top: 185px;
    }
}

@media (max-width: 376px){
    .info-text{
        font-size: 24px;
    }
    body {
        margin-top: 20px;
    }
}

@media (max-width: 345px){
    .info-text{
        font-size: 20px;
        margin-top: 10px;
    }
    body {
        margin-top: 0px;
    }
}