body{
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    padding-top: 100px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.main {
    margin-top: 50px;
    margin-left: 30%;
    padding: 20px;
    background-color: #d9f3f1;
    border: 2px solid black;
    width: 35%;
    margin-bottom: 50px;

}

.mb-6 label{
    font-size: 25px;
    
}

.mb-6 input {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
    width: 90%;
    border: 1px solid rgb(155, 149, 149);
    border-radius: 5px;
    padding-left: 5px;
}

.mb-6 textarea{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
    width: 90%;
    border: 1px solid rgb(155, 149, 149);
    border-radius: 5px;
    padding-left: 5px;
}

.mb-6 {
    margin-top: 13px;
}

h1{
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

button{
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(59, 154, 167);
    color: white;
    width: 90%;
    height: 70px;
    margin-left: 15px;
}


.main-body {
    padding: 50px;
    background-color: #d9f3f1;
    width: 70%;
    margin: auto;
    box-shadow: 2px 3px 6px rgb(155, 153, 153);
    margin-bottom: 20px;
}

.main-body p{
    font-size: 25px;
    line-height: 30px;
}


.pers{
    margin-bottom: 50px;
    border: 2px solid rgb(52, 154, 168);
    border-radius: 5px;
    padding: 15px;
    background-color: #f3f9f9;

}

#name{
 font-size: 30px;
 text-align: left;
 margin-bottom: 5px;
 margin-top: 10px;
}

#info{
    font-size: 20px;
    text-align: left;
}


@media (max-width: 467px){
    body{
        padding-top: 200px;
    }
}

@media (max-width: 346px){
    body{
        padding-top: 160px;
    }
}

@media (max-width: 850px){
    h1{
        font-size: 40px;
    }
    #info{
        font-size: 18px;
    }
    .main-body p{
        font-size: 22px;
    }
    .main{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
}