
.main-body {
    height: auto;
    background-color: rgb(91, 190, 195);
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));

}

.media-body {
    text-align: center;
    margin: auto;
    width: auto;
    
}

.foorvos {
    width: 300px;
    height: 300px;
    text-align: center;
    border: 2px solid white;
    background-color: white;
    margin: 30px auto 0px auto;
  

}

.foorvos-box {
    background-color: white;
    margin-top: 20px;
    width: 300px;
    

}

.job-title {
    font-size: 55px;
    font-weight: normal;
    color: white;
    margin-top: 80px;
    
}

.line {
    height: 20px;
}

.orvos-kep-img {
    border-radius: 50%;
    width: 200px;
}

.orvos-nev-text {
    font-size: 21px;


}
#foorvos-nev-text {
    margin-bottom: 10px;
}

.foorvos-plusz {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;

}

.orvos {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    display: inline-block;

}

.orvos-kep {
    margin-top: 20px;
}

.dolgozok-row {
    display: inline;
}

.big-pic {
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.big-pic img {
    width: 99%;
    border: 2px solid white;
}

body {
    padding-top: 120px;
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 920px){
    body {
        padding-top: 130px;
    }
}
@media (max-width: 612px){
    body {
        padding-top: 160px;
    }
}

@media (max-width: 330px){
    .orvos {
        width: 280px;
        height: 280px;
        
    }
    .job-title{
        font-size: 45px;
    }
    .orvos-nev-text{
        font-size: 18px;
    }
    .big-pic img{
        width: 98%;
    }
}