

.main-body {
    
    width: 70%;
    padding: 10px 100px 100px 100px;
    background-color: rgb(214, 243, 243);
    margin: auto;
    box-shadow: 2px 3px 6px rgb(155, 153, 153);
}

.main-body li{
  font-size: 20px;
}

.cim {
    margin-top: 100px;
    font-size: 34px;
    text-align: center;
    width: 100%;



}

.cim-text {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    font-weight: normal;

}


.media-content {
    display: inline-block;
    vertical-align: middle;
}

.media-content-cim {
    width: 100%;
    font-size: 20px;

    margin: 0;
}

h2{
  margin-bottom: 0;
}

.media-img {
    width: 254px;
}

.media-container-row {
    display: inline;
    width: 100%;
    height: auto;

}

.media-content video{
    width: auto;
}

.hosszu-p {
    margin: 10px;
    padding: 0px;
}

.hosszu-p-text {
    font-size: 20px;
}

#cur-kep {
    width: 90%;
}



.row > .column {
    padding: 0 8px;
    margin-bottom: 5px;
  }

  .row {
    margin-top: 80px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    display: inline-block;
    width: 262px;
    margin: 5px;
    
  }

 

  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;

    
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;

  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }

  
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px

  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
    margin:100px;
    border: 50px;
    padding:0px;
    display: inline-block;
    right: 0px;

    
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  #tomes-kep {
    width: 90%;
    border-radius: 50%;
}

.kozep-kep {
    text-align: center;
}

.kozep-kep img {
    width: 80%;
}

#nagy-kep {
    width: 100%;
    text-align: center;

}

#nagy-kep img {
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.szajseb-lista {
    font-size: 20px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    background-color: white;
    padding-top: 140px;
    margin: 0;
  }

  .rez-kep {
    text-align: center;
  }

  .resection-img {
    width: 60%;
    text-align: center;

  }

  #fogf-kep {
    width: 50%;
  }

  #kepecske {
    width: 70%;
  }

  @media (max-width: 860px) {
    .modal-content {
      margin-top: 15%;
    }
  }
  @media (max-width: 920px) {
    body {
      padding-top: 140px;
  }
  .main-body{
    padding-top: 30px;
    margin-top: 20px;
    width: auto;
    padding-right: 70px;
    padding-left: 70px;
  }
  .cim{
    margin-top: 50px;
  }

  }

  @media (max-width: 750px){
    .kozep-kep img {
      width: 90%;
    }
  }


  @media (max-width: 611px){
    .main-body{
      margin-top: 30px;
    }
    #fogf-kep{
      width: 80%;
    }
    .kozep-kep img {
      width: 100%;
    }

  }

  @media (max-width: 560px){
    .media-content video{
      width: 100%;
  }
  }

  @media (max-width: 400px){
    .column {
      width: 100%;
    }
    .cim {
      font-size: 30px;
  }

  @media (max-width: 380px){
    .main-body{
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  }
  @media (max-width: 350px){
    .kozep-kep img {
      width: 110%;
    }
    .main-body{
      padding-top: 5px;
    }
  }


  