.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 118px;
    background-color: rgb(27, 124, 137);
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    border-bottom: 1px solid white;
    background-attachment: scroll;
    transition: transform 0.2s;

    
    
}


.nav-row {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    flex-wrap: wrap;
    padding-left: 15px;
}



.nav-row li a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: white;
    font-size: 25px;
    margin-right: 25px;
    line-height: 1.6;
    transition: 0.25s;
}

.nav-row li a:hover {
    opacity: 0.8;
    text-decoration-color: white;
}

.logo {
    width: 180px;
    padding-left: 20px;
    padding-right: 0px;
    align-items: center;

}

.logo img {
    width: 200px;
    margin-bottom: 0px;
}

.fo-cim {
    width: 265px;
    font-size: 22px;
    color: white;
    align-items: center;
}

.icons {
    flex: 1;
    align-items: center;
}



* {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-hidden{
  transform: translateY(-350px);
  box-shadow: none;
}


@media (max-width: 920px) {
    .header-box {
        height: auto;
        flex-direction: column;
        margin: auto;
        padding: auto;
    }
      .logo {
        margin-top: 8px;
      }
      .nav-row li a {
        font-size: 18px;
      }
      .logo {
        width: 150px;
      }
      .logo img{
        width: 150px;
      }
      .nav-row {
        margin-bottom: 5px;
;
    }

  }

  @media (max-width: 330px){
    .nav-row li a {
      font-size: 13px;
    }
    .logo {
      width: 130px;
    }
    .logo img{
      width: 130px;
    }


  }