

.main-body {
    background-color: white;
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    width: 100%;

}


video {
    border: 4px solid white;
    height: 100%;
    width: 99%;

}


.main-body img {
    display: none;
}

body {

    margin: 0;
    padding-top: 120px;
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
}

.szechenyi-2020 {
    position: fixed;
    display:block;
    right: 0px;
    bottom: 0px;
    
}

.szechenyi-2020 img {
    width: 214px;
    height: 150px;
}


@media (max-width: 920px){
    body {
        padding-top: 140px;
    }
}


@media (max-width: 612px){
    body {
        padding-top: 170px;
    }
}

@media (max-width: 500px){
    
    .main-body img{
        display: block;
        width: 80%;
        margin: auto;
    }
    video{
        width: 98%;
    }
}

@media (max-width: 467px){
    body{
        padding-top: 200px;
    }
}

@media (max-width: 400px){
    video{
        width: 97%;
    }
}

@media (max-width: 346px){
    body{
        padding-top: 160px;
    }
}


