

.main-body {
    padding: 100px;
    height: auto;
    margin-top: 50px;
    width: auto;
}

.media-content {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: auto;
    
}

.media-img {
    width: 100%;
}

.media-container-row {
    display: inline;
    width: 80%;
    height: 254px;
    
}

.nagy-text {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nagy-kep {
  text-align: center;
  margin: auto;
  width: 60%;
  height: auto;

}

.nagy-kep img {
  text-align: center;
  width: 100%;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
  margin: 0;
}

@media (max-width: 920px){

  .main-body{
    padding-right: 60px;
    padding-left: 60px;
  }


}





@media (max-width: 590px){
  .main-body{
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 565px){
  .media-img{
    width: 90%;

  }
  .media-content {
    width: 40%;

 
    
}
}