.main-body {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    
}

#main-pic{
    width: 100%;

}


.main-content {
    border: 2px solid white;
    width: 80%;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 50px;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    background-color: rgb(188, 233, 239);

    
}


.first {
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Arial;
    margin-top: 5px;
}


.second {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.second-text {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: white;
}

.szedacio-text {
    font-size: 20px;

    text-align: left;
    background-color: rgb(188, 233, 239);
    margin: auto;
    width: 80%;
    padding: 20px;
    border: 2px solid white;
    
}

.video-row {
    height: auto;
    margin-bottom: 0px;
    width: 83%;
    background-color: rgb(209, 235, 233);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 3px 6px rgb(155, 153, 153);
    
    
}

.video1,
.video2{
    display: inline;
    width: 100%;
    
}

.smart-guide {
    border-top: 1px solid white;
    width: 80%;
    padding: 20px;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20px;
    
    background-color: aliceblue;
    background-image: linear-gradient(to right, rgb(181, 231, 237), rgb(195, 234, 236));
}

.smart-guide-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.smart-guide-title p {
    font-size: 45px;
    margin-bottom: 10px;
}

.smart-guide-video {
    margin-top: 5px;
}

.text1-main {
    font-size: 30px;
}

.smart-guide-text2 {
    text-align: left;
}

.bold-p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

li {
    font-size: 23px;
}

.implant-pontok {
    text-align: left;
    display: inline-block;
}

.kulon-p {
    font-size: 27px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.monitor-kep {
    width: 300px;
    display: inline-block;
}

.implantacio-kep {
    display: inline-block;

}

.utolso-p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.kozep {
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

.line{
    height: 30px;
}

body {
    background-image: linear-gradient(to right, rgb(52, 154, 168), rgb(153, 207, 210));
    line-height: 1.5;
    padding-top: 120px;
    margin: 0;
}



.reviews {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color:  rgb(209, 235, 233);
    padding: 20px;
    box-shadow: 2px 3px 6px rgb(155, 153, 153);
    
}
.reviews p {
    font-size: 20px;
    line-height: 1.5;
}

h1 {
    font-size: 35px;
    font-weight: normal;
}

#bigger-p {
    font-size: 35px;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 920px){
    body {
        padding-top: 140px;
    }
    .main-content{
        width: 85%;
    }
    .video-row {
        width: 95%;
    }
    .szedacio-text {
        width: 85%;
    }
    .reviews {
        width: 85%;
    }
    .main-content{
        padding-top: 30px;
        margin-top: 20px;
    }

    #main-pic{
        margin-top: 60px;
    }
}
@media (max-width: 612px){
    body {
        padding-top: 170px;
    }
    .main-content{
        padding-top: 30px;
        margin-top: 20px;
    }

    #main-pic{
        margin-bottom: -20px;
    }

}



@media (max-width: 360px){
    video{
        width: 95%;
    }

}

@media (max-width: 350px){
    .szedacio-text {
        width: 82%;
    }
    .reviews {
        width: 82%;
    }
    .main-content{
        width: 82%;
    }
    #main-pic{
        margin-top: 50px;
    }
}




